---
- name: Load setup tasks file for adding the official Docker PPA to Debian
  include: setup_Debian.yml
  when:
    - ansible_os_family == "Debian"
    # The docker-ce PPA does not yet support Debian Bullseye
    # (identified as version NA)
    - not (ansible_distribution == "Debian" and ansible_distribution_release == "bullseye")
    # By extension, it does not yet support Kali either.
    - ansible_distribution != "Kali"

- name: Load var file with package names based on the OS type
  include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_distribution }}_{{ ansible_distribution_release }}.yml"
        - "{{ ansible_distribution }}.yml"
        - "{{ ansible_os_family }}.yml"
      paths:
        - "{{ role_path }}/vars"

- name: >
    Install docker, docker-compose, and the Docker Python library (not
    Debian Stretch)
  package:
    name: "{{ package_names }}"
  when:
    - ansible_distribution != "Debian" or ansible_distribution_release != "stretch"

- name: >
    Install docker, docker-compose, and the Docker Python library (Debian
    Stretch)
  package:
    default_release: "{{ ansible_distribution_release }}-backports"
    name: "{{ package_names }}"
  when:
    - ansible_distribution == "Debian"
    - ansible_distribution_release == "stretch"

# Unless you do this, systemd can sometimes get confused when you try
# to start a service you just installed
- name: Systemd daemon-reload
  systemd:
    daemon_reload: true
  when: ansible_service_mgr == "systemd"

- name: Enable docker
  service:
    name: docker
    enabled: yes
